.container{
    background-color: #cc0000;
    width: 500px;
    height: 450px;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    transform: translate(0, 50%);
    line-height: 40px;
    
    /* text-align: center; */
}

.button{
    margin: 20px;
    padding: 20px;
}

input{
    padding: 10px;
    margin: 10px;
    font-size: large;
    cursor: pointer;
}

